{% extends 'base.html'%}

{% block content %}

<div class="container">  
   <div class="row">
      <div class="col-sm-4">
         <h2 style="color:orangered">Quotable Quotes</h2>
         <div class="jumbotron text-center">
                {{quote.quote}} <br>
               <br>
               ~ {{quote.author}}
           </div>
      </div>
      <div class="col-sm-8">
            <h3 style="color:orangered">BLOGS</h3>
         {% for x in blogs %}
         <ul class="list-group list-group-flush">
            <li class="list-group-item">{{x.blog_msg}}</li>
            <a href="/comment/{{x.id}}"><button class="btn btn-info">Add Comment</button></a>
            <hr>
         </ul>   
         {% endfor %}
      </div>
   </div>

</div>
{% endblock %}